@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet CSS */
@import "leaflet/dist/leaflet.css";

:root {
  --foreground: #0f172a;
  --background: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Fix Leaflet marker icons in Next.js/webpack builds */
.leaflet-default-icon-path {
  background-image: url("https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon.png");
}
